{# templates/_base.html #}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twig</title>
</head>
<body>
    <h1>twig xesman its workin</h1>
    {% if titulo %} 
    <h2>{{ titulo }}</h2>
    {% endif %}
    <hr>
    <p>
        <a href="index.php">Inicial</a>
        <a href="compras.php">Compras</a>
        <a href="horario.php">Horário</a>
        <a href="compromissos.php">Compromissos</a>
        <a href="deslogar.php">Encerrar Sessão</a>
    </p>
    <hr>

    {% block conteudo %} {% endblock %}
</body>
</html>