<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <h1>Login</h1>

    <form action="verificaLogin.php" method="post">
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario"> <br>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha"> <br>
        <button type="submit">Logar</button>
    </form>
    <div>
        <a href="registrar.php">Clique aqui para se registrar</a>
    </div>
</body>
</html>